.link {
  stroke: #cc99ff;
}

@font-face {
    font-family: 'bitstream_vera_sans_monoroman';
    src: url('VeraMono-webfont.eot');
    src: url('VeraMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('VeraMono-webfont.woff') format('woff'),
         url('VeraMono-webfont.ttf') format('truetype'),
         url('VeraMono-webfont.svg#bitstream_vera_sans_monoroman') format('svg');
    font-weight: normal;
    font-style: normal;

}



.node text {
  pointer-events: none;
  font-size: .6em;
  font-family: 'bitstream_vera_sans_monoroman', sans-serif;
  fill: white;
}


.jumpGate {
  stroke: #0000ff;
}
.linkValue6 {
  stroke: #00f000;
}
.linkValue7 {
  stroke: #ff6600;
}
.linkValue8 {
  stroke: #ff0000;
  stroke-dasharray: 5,5;
}

h1, h2, h3, p{
  color:white;
}

body{
        background-color: #050505;

                                background: rgb(43,45,48); /* Old browsers */
                                background: -moz-radial-gradient(center, ellipse cover,  rgba(43,45,48,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                                background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(43,45,48,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                                background: -webkit-radial-gradient(center, ellipse cover,  rgba(43,45,48,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                                background: -o-radial-gradient(center, ellipse cover,  rgba(43,45,48,1) 0%,rgba(0,0,0,1) 100%); /* Opera 12+ */
                                background: -ms-radial-gradient(center, ellipse cover,  rgba(43,45,48,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                                background: radial-gradient(ellipse at center,  rgba(43,45,48,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
}
